<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>可视化</title>
    <link rel="stylesheet" href="../css/loader-default.css">
    <link rel="stylesheet" href="../css/theme/antd.dark.min.css">
    <link rel="stylesheet" href="../css/datav/list.css">
</head>

<body>
<!--<head th:unless="${param.hideHeader}" th:include="common/header :: header(sourceId='67')"></head>-->
<div id="app" style="height: 100%;"><div id="loader" class="loader loader-default is-active" half blink data-text="加载中..."></div></div>
</body>
<script>
    window._user_id='[[${userId}]]'
</script>
<script src="../js/common.js"></script>
<script src="../js/datav/list.js"></script>
</html>